[BOT]
TESTNET=false
ASSET=USDT
MIN_NOTIONAL=1.05
STOP_LIMIT_PERCENT=1
CHECK_POSITION_TIMEOUT=1
ENABLE_INSTANT_EXITS=false
ENABLE_BE=false
BE_TRIGGER_PCT=0.25
BE_OFFSET_TICKS=1
SCORE_THRESHOLD=6

[DB]
HOST=localhost
PORT=5432
USER=your_db_user
PASSWORD=your_db_password
DB=density

[TG]
TOKEN=your_telegram_bot_token_here
CHANNEL=your_channel_id_here
ADMINS=your_admin_id_here
